/* Ported from Camp */
.reset {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.reset:focus-visible {
  outline: inherit;
  background-color: var();
}

.default {
  cursor: pointer;
  /* Display */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp200, 4px);
  /* Border */
  border-color: transparent;
  border-radius: var(--radii100, 4px);
  border-style: var(--bSolid, solid);
  border-width: var(--b100, 1px);
  /* Typography */
  font-family: var(--font-family-ff-standard, "IBM Plex Sans");
  font-size: var(--font-size-fs-200, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-line-height-lh-200, 20px);
  /* Transition */
  transition-duration: var(--durationMedium, 400ms);
  transition-property: background, border;
  transition-timing-function: var(
    --transitionOut,
    cubic-bezier(0.23, 1, 0.32, 1)
  );
}
.default:disabled {
  cursor: not-allowed;
}

/**
 *
 * Fill
 * 
 */
.fill {
  color: var(--text-on-emphasis);
  fill: var(--icon-decorative-on-emphasis);
  border-radius: var(--radii100, 4px);
  /* sort this */
  /* border-color: "white";
  outline-style: "bSolid";
  outline-color: "ocean600";
  outline-width: "b100";
  box-shadow: "0 0 0 b300 ocean200"; */
}
.fill:disabled {
  opacity: 0.35;
}

.fill--primary {
  background-color: var(--bg-primary-emphasis);
}
.fill--primary:hover {
  background-color: var(--bg-primary-emphasis-hover);
}
.fill--primary:active {
  background-color: var(--bg-primary-emphasis-active);
}

.fill--destructive {
  background-color: var(--bg-destructive-emphasis);
}
.fill--destructive:hover {
  background-color: var(--bg-destructive-emphasis-hover);
}
.fill--destructive:active {
  background-color: var(--bg-destructive-emphasis-active);
}

/**
 *
 * Outline
 * 
 */
.outline {
  border-color: var(--border-supportive);
  background-color: var(--bg-default);
}

.outline:hover {
  background-color: var(--bg-primary-hover);
}
.outline:active {
  background-color: var(--bg-active);
}
.outline:disabled {
  opacity: 0.5;
}
/**
 *
 * Text
 * 
 */
.text {
  background-color: transparent;
}
.text:disabled {
  opacity: 0.5;
}

.text--primary {
  color: var(--text-primary);
}
.text--primary:hover {
  background-color: var(--bg-primary-hover);
}
.text--primary:active {
  background-color: var(--bg-primary-active);
}

.text--destructive {
  color: var(--text-destructive);
}
.text--destructive:hover {
  background-color: var(--bg-destructive-hover);
}
.text--destructive:active {
  background-color: var(--bg-destructive-active);
}

.small {
  padding: var(--sp200, 4px) var(--sp300, 8px);
  height: 28px;
}

.medium {
  padding: var(--sp300, 8px) var(--sp400, 12px);
  height: 36px;
}
