/* Ported from Camp */
.reset {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.reset:focus-visible {
  outline: inherit;
}

.default {
  cursor: pointer;
  /* Border */
  border-color: transparent;
  border-radius: radii100;
  border-style: bSolid;
  border-width: b100;
  /* spacing */
  padding: var(--sp300, 8px) var(--sp400, 12px);
  /* typography */
  font-family: var(--font-family-ff-standard, "IBM Plex Sans");
  font-size: var(--font-size-fs-200, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-line-height-lh-200, 20px);
  /* 
  transition-duration: 'durationMedium';
  transition-property: background, border;
  transition-timing-function: transitionOut; 
  */
}
.default:disabled {
  cursor: not-allowed;
}

/**
 *
 * Fill
 * 
 */
.fill-base {
  color: var(--text-on-emphasis);
  fill: var(--icon-decorative-on-emphasis);
  border-radius: var(--radii100, 4px);
  /* sort this */
  border-color: "white";
  outline-style: "bSolid";
  outline-color: "ocean600";
  outline-width: "b100";
  box-shadow: "0 0 0 b300 ocean200";
}
.fill-base:disabled {
  opacity: 0.35;
}

.fill {
  background-color: var(--bg-primary-emphasis);
}
.fill:hover {
  background-color: var(--bg-primary-emphasis-hover);
}
/* .fill:focus {
  background-color: var(--bg-primary-emphasis-focus);
} */
.fill:active {
  background-color: var(--bg-primary-emphasis-active);
}

.fill--destructive {
  background-color: var(--bg-destructive-emphasis);
}
.fill--destructive:hover {
  background-color: var(--bg-destructive-emphasis-hover);
}
/* .fill--destructive:focus {
  background-color: var(--bg-destructive-emphasis-focus);
} */
.fill--destructive:active {
  background-color: var(--bg-destructive-emphasis-active);
}

/* export const cssTransformDefaults = {
  size(value) {
    return {
      padding: value === 'small' ? 'sp200 sp300' : 'sp300 sp400',
    };
  },
}; */

/* const transformProps = {
  ...cssTransformDefaults,
  appearance(value) {
    if (value === "destructive") {
      return {
        backgroundColor: "strawberry500",
        ":hover:enabled": {
          backgroundColor: "strawberry600",
        },
        ":focus:enabled": {
          backgroundColor: "strawberry600",
          borderColor: "white",
          outlineColor: "strawberry600",
          boxShadow: "0 0 0 b300 strawberry200",
        },
        ":active:enabled": {
          backgroundColor: "strawberry700",
        },
      };
    }
  },
}; */

/**
 *
 * Existing 
 * 
 */

.base {
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
}

.primary {
  color: rgb(255 255 255);
  background-color: rgb(59 130 246);
  border: transparent;
}

.primary:hover {
  background-color: rgb(37 99 235);
}

.secondary {
  background-color: rgb(255 255 255);
  color: rgb(31 41 55);
  border-color: rgb(156 163 175);
}

.secondary:hover {
  background-color: rgb(243 244 246);
}

.small {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  padding: 0.25rem 0.5rem;
}

.medium {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  padding: 0.5rem 1rem;
}

.primaryMedium {
  text-transform: uppercase;
}
